yake: https://github.com/LIAAD/yake

```
pip install git+https://github.com/LIAAD/yake
```

In [5]:
import yake
import os
import pandas as pd
from tqdm import tqdm

In [6]:
filepath = 'data/preprocessed_sentences_for_each_period_1997Q1-2019Q3.csv'

save_dir = 'C:\DATA\hot_topic_detection_in_central_bankers_speeches'
save_filepath = os.path.join(save_dir, 'top5_hot_topics_YAKE.csv')

In [8]:
df = pd.read_csv(filepath)
sorted_periods = sorted(df[df['period'].apply(lambda x: x[:4]!='1997')].period.unique())
df.set_index('period', inplace=True)
df.head()

                                                  document
period
1997_Q1  Mr. Greenspan addresses some key roles of a ce...
1997_Q2  Mr. Greenspan highlights some key aspects of t...
1997_Q3  Mr. Greenspan presents the views of the Federa...
1997_Q4  Mr. Greenspan considers some of the effects of...
1998_Q1  Mr. Greenspan’s remarks to the American Econom...

In [9]:
kw_extractor = yake.KeywordExtractor()

In [18]:
one_period_df[:5]

                      word     score   period
19  Federal Reserve credit  0.001721  2011_Q1
18                economic  0.001667  2011_Q1
17        financial system  0.001596  2011_Q1
16    bank reserves remain  0.001415  2011_Q1
15    BIS central bankers’  0.001362  2011_Q1

In [19]:
dfs = []
for period in tqdm(sorted_periods):
    doc = df.loc[period]['document']
    keywords = kw_extractor.extract_keywords(doc)
    one_period_df = pd.DataFrame(keywords, columns=['word', 'score'])
    one_period_df.sort_values(by=['score'], ascending=False, inplace=True)
    one_period_df['period'] = period
    dfs.append(one_period_df[:5])
top5_df = pd.concat(dfs)

top5_df.to_csv(save_filepath, index=False)
print('Created {}'.format(save_filepath))

100%|██████████████████████████████████████████████████████████████████████████████████| 87/87 [04:53<00:00,  3.37s/it]

Created C:\DATA\hot_topic_detection_in_central_bankers_speeches\top5_hot_topics_YAKE.csv

In [20]:
# Key periods
top5_df[(top5_df['period'].isin(['1998_Q2', '2000_Q1', '2007_Q2']))]

                      word     score   period
19                economic  0.007744  1998_Q2
18           United States  0.007250  1998_Q2
17       market capitalism  0.006842  1998_Q2
16               East Asia  0.006374  1998_Q2
15               economies  0.006349  1998_Q2
19                business  0.007918  2000_Q1
18     productivity growth  0.007421  2000_Q1
17            productivity  0.007349  2000_Q1
16                  market  0.006849  2000_Q1
15                  demand  0.006504  2000_Q1
19  financial institutions  0.001094  2007_Q2
18                  credit  0.001069  2007_Q2
17        financial system  0.001065  2007_Q2
16  Review Federal Reserve  0.001031  2007_Q2
15                   banks  0.001028  2007_Q2