RAKE: https://pypi.org/project/rake-nltk/

```
pip install rake-nltk
```

In [1]:
from rake_nltk import Rake
import os
import pandas as pd
from tqdm import tqdm

In [5]:
filepath = 'data/preprocessed_sentences_for_each_period_1997Q1-2019Q3.csv'

save_dir = 'C:\DATA\hot_topic_detection_in_central_bankers_speeches'
save_filepath = os.path.join(save_dir, 'top5_hot_topics_RAKE.csv')

In [3]:
df = pd.read_csv(filepath)
sorted_periods = sorted(df[df['period'].apply(lambda x: x[:4]!='1997')].period.unique())
df.set_index('period', inplace=True)
df.head()

                                                  document
period
1997_Q1  Mr. Greenspan addresses some key roles of a ce...
1997_Q2  Mr. Greenspan highlights some key aspects of t...
1997_Q3  Mr. Greenspan presents the views of the Federa...
1997_Q4  Mr. Greenspan considers some of the effects of...
1998_Q1  Mr. Greenspan’s remarks to the American Econom...

In [4]:
r = Rake()

In [24]:
dfs = []
for period in tqdm(sorted_periods):
    doc = df.loc[period]['document']
    r.extract_keywords_from_text(doc)
    keywords = r.get_ranked_phrases_with_scores()
    one_period_df = pd.DataFrame(keywords, columns=['score', 'word'])
    one_period_df.sort_values(by=['score'], ascending=False, inplace=True)
    one_period_df['period'] = period
    dfs.append(one_period_df[:5])
top5_df = pd.concat(dfs)

top5_df.to_csv(save_filepath, index=False)
print('Created {}'.format(save_filepath))

100%|██████████████████████████████████████████████████████████████████████████████████| 87/87 [00:17<00:00,  4.90it/s]

Created C:\DATA\hot_topic_detection_in_central_bankers_speeches\top5_hot_topics_RAKE.csv

In [25]:
# Key periods
top5_df[(top5_df['period'].isin(['1998_Q2', '2000_Q1', '2007_Q2']))]

       score                                               word   period
0  47.214286  earliest times -- certainly since renaissance ...  1998_Q2
1  39.151852  central planning regime became apparent little...  1998_Q2
2  37.948148  member countries facing international financia...  1998_Q2
3  37.444444       decades ago called “ creative destruction ”.  1998_Q2
4  35.580952  potential losses however incurred increased la...  1998_Q2
0  55.714286  clearly demonstrated regulatory exemptions unl...  2000_Q1
1  49.755448  constituents regarding community reinvestment ...  2000_Q1
2  41.107805  total unit cost increases last year remained e...  2000_Q1
3  40.733219  capacity per real dollar invested clearly rose...  2000_Q1
4  36.295238  consolidated sense reduced cost generally mean...  2000_Q1
0  55.041538  house prices decelerated sharply last year fol...  2007_Q2
1  45.038528  march school august february chamber business ...  2007_Q2
2  44.178571  distinguished speaker series fuqua university ...  2007_Q2
3  41.117240  effective loan restructuring borrowers facing ...  2007_Q2
4  40.666874  state laws affecting commercial bank branching...  2007_Q2