In [1]:
from keybert import KeyBERT
import os
import pandas as pd
from tqdm import tqdm

In [2]:
filepath = 'data/preprocessed_1997Q1-2019Q3.csv'

save_dir = '/media/dmlab/My Passport/DATA/hot_topic_detection_in_central_bankers_speeches'
save_filepath = os.path.join(save_dir, 'top5_hot_topics_bigram_KeyBERT.csv')

In [3]:
df = pd.read_csv(filepath)
sorted_periods = sorted(df[df['period'].apply(lambda x: x[:4]!='1997')].period.unique())
df.set_index('period', inplace=True)
print(sorted_periods)
df.head()

['1998_Q1', '1998_Q2', '1998_Q3', '1998_Q4', '1999_Q1', '1999_Q2', '1999_Q3', '1999_Q4', '2000_Q1', '2000_Q2', '2000_Q3', '2000_Q4', '2001_Q1', '2001_Q2', '2001_Q3', '2001_Q4', '2002_Q1', '2002_Q2', '2002_Q3', '2002_Q4', '2003_Q1', '2003_Q2', '2003_Q3', '2003_Q4', '2004_Q1', '2004_Q2', '2004_Q3', '2004_Q4', '2005_Q1', '2005_Q2', '2005_Q3', '2005_Q4', '2006_Q1', '2006_Q2', '2006_Q3', '2006_Q4', '2007_Q1', '2007_Q2', '2007_Q3', '2007_Q4', '2008_Q1', '2008_Q2', '2008_Q3', '2008_Q4', '2009_Q1', '2009_Q2', '2009_Q3', '2009_Q4', '2010_Q1', '2010_Q2', '2010_Q3', '2010_Q4', '2011_Q1', '2011_Q2', '2011_Q3', '2011_Q4', '2012_Q1', '2012_Q2', '2012_Q3', '2012_Q4', '2013_Q1', '2013_Q2', '2013_Q3', '2013_Q4', '2014_Q1', '2014_Q2', '2014_Q3', '2014_Q4', '2015_Q1', '2015_Q2', '2015_Q3', '2015_Q4', '2016_Q1', '2016_Q2', '2016_Q3', '2016_Q4', '2017_Q1', '2017_Q2', '2017_Q3', '2017_Q4', '2018_Q1', '2018_Q2', '2018_Q3', '2018_Q4', '2019_Q1', '2019_Q2', '2019_Q3']

                                                    tokens  num_of_tokens
period
1997_Q1  address key role remark chairman governor u re...          16246
1997_Q2  highlight key aspect current economic situatio...          13432
1997_Q3  present view reserve semi annual humphrey hawk...           6409
1997_Q4  considers effect technological change remark c...          15038
1998_Q1  s remark american economic association america...          10804

In [4]:
kw_model = KeyBERT()

In [5]:
dfs = []
for period in tqdm(sorted_periods):
    doc = df.loc[period]['tokens']
    keywords = kw_model.extract_keywords(doc, keyphrase_ngram_range=(2, 2))
    one_period_df = pd.DataFrame(keywords, columns=['word', 'score'])
    one_period_df['period'] = period
    dfs.append(one_period_df)
top5_df = pd.concat(dfs)

top5_df.to_csv(save_filepath, index=False)
print('Created {}'.format(save_filepath))

100%|██████████| 87/87 [02:26<00:00,  1.69s/it]

Created /media/dmlab/My Passport/DATA/hot_topic_detection_in_central_bankers_speeches/top5_hot_topics_bigram_KeyBERT.csv

In [6]:
# Key periods
top5_df[(top5_df['period'].isin(['1998_Q2', '2000_Q1', '2007_Q2']))]

                    word   score   period
0       trend capitalism  0.5254  1998_Q2
1     century capitalism  0.5071  1998_Q2
2     capitalism current  0.5015  1998_Q2
3    capitalism emphasis  0.4980  1998_Q2
4        form capitalism  0.4965  1998_Q2
0         economy rising  0.5577  2000_Q1
1            new economy  0.5434  2000_Q1
2     continued economic  0.5430  2000_Q1
3  economy strengthening  0.5422  2000_Q1
4         economy recent  0.5367  2000_Q1
0     regulation reserve  0.4675  2007_Q2
1            reserve act  0.4571  2007_Q2
2      revise regulation  0.4461  2007_Q2
3    creditor government  0.4433  2007_Q2
4         compliance cra  0.4342  2007_Q2