In [1]:
from gensim.summarization import keywords
import os
import pandas as pd
from tqdm import tqdm

In [2]:
filepath = 'data/preprocessed_1997Q1-2019Q3.csv'

save_dir = '/media/dmlab/My Passport/DATA/hot_topic_detection_in_central_bankers_speeches'
save_filepath = os.path.join(save_dir, 'top5_hot_topics_bigram_TextRank.csv')

In [3]:
df = pd.read_csv(filepath)
df = df[df['period'].apply(lambda x: x[:4]!='1997')]
sorted_periods = sorted(df['period'].unique())
print(sorted_periods)
df.set_index('period', inplace=True)
df.head()

['1998_Q1', '1998_Q2', '1998_Q3', '1998_Q4', '1999_Q1', '1999_Q2', '1999_Q3', '1999_Q4', '2000_Q1', '2000_Q2', '2000_Q3', '2000_Q4', '2001_Q1', '2001_Q2', '2001_Q3', '2001_Q4', '2002_Q1', '2002_Q2', '2002_Q3', '2002_Q4', '2003_Q1', '2003_Q2', '2003_Q3', '2003_Q4', '2004_Q1', '2004_Q2', '2004_Q3', '2004_Q4', '2005_Q1', '2005_Q2', '2005_Q3', '2005_Q4', '2006_Q1', '2006_Q2', '2006_Q3', '2006_Q4', '2007_Q1', '2007_Q2', '2007_Q3', '2007_Q4', '2008_Q1', '2008_Q2', '2008_Q3', '2008_Q4', '2009_Q1', '2009_Q2', '2009_Q3', '2009_Q4', '2010_Q1', '2010_Q2', '2010_Q3', '2010_Q4', '2011_Q1', '2011_Q2', '2011_Q3', '2011_Q4', '2012_Q1', '2012_Q2', '2012_Q3', '2012_Q4', '2013_Q1', '2013_Q2', '2013_Q3', '2013_Q4', '2014_Q1', '2014_Q2', '2014_Q3', '2014_Q4', '2015_Q1', '2015_Q2', '2015_Q3', '2015_Q4', '2016_Q1', '2016_Q2', '2016_Q3', '2016_Q4', '2017_Q1', '2017_Q2', '2017_Q3', '2017_Q4', '2018_Q1', '2018_Q2', '2018_Q3', '2018_Q4', '2019_Q1', '2019_Q2', '2019_Q3']

                                                    tokens  num_of_tokens
period
1998_Q1  s remark american economic association america...          10804
1998_Q2  discus ascendance capitalism remark chairman g...           6988
1998_Q3  present u reserve s mid year report monetary t...           9722
1998_Q4  testifies private sector refinancing large hed...           2091
1999_Q1  testifies state u economy testimony chairman g...           6197

In [4]:
dfs = []
for period in tqdm(sorted_periods):
    _df = pd.DataFrame(keywords(df.loc[period]['tokens']).split('\n')[:5], columns=['word'])
    _df['period'] = period
    dfs.append(_df)


top5_df = pd.concat(dfs)
top5_df.reset_index(drop=True, inplace=True)

top5_df.to_csv(save_filepath, index=False)
print('Created {}'.format(save_filepath))

100%|██████████| 87/87 [00:37<00:00,  2.35it/s]

Created /media/dmlab/My Passport/DATA/hot_topic_detection_in_central_bankers_speeches/top5_hot_topics_bigram_TextRank.csv

In [5]:
# Key periods
top5_df[(top5_df['period'].isin(['1998_Q2', '2000_Q1', '2007_Q2']))]

           word   period
5       economy  1998_Q2
6       capital  1998_Q2
7      increase  1998_Q2
8          risk  1998_Q2
9       risking  1998_Q2
40     business  2000_Q1
41      product  2000_Q1
42   productive  2000_Q1
43     increase  2000_Q1
44   increasing  2000_Q1
185     trading  2007_Q2
186       trade  2007_Q2
187      traded  2007_Q2
188        risk  2007_Q2
189   regulated  2007_Q2